In [1]:
import pandas as pd
import numpy as np

In [2]:
MCV1 = "14vaccine_data/2018_MCV1.csv"
MCV1_df = pd.read_csv(MCV1)
MCV1_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV1,64,64,64,63,60,57,...,22.0,34.0,31.0,14.0,14.0,14.0,9.0,8.0,NaN,11.0
1,Eastern Europe & Central Asia,ALB,Albania,MCV1,94,96,96,97,98,99,...,96.0,96.0,96.0,96.0,96.0,96.0,96.0,93.0,90.0,90.0
2,Middle East & North Africa,DZA,Algeria,MCV1,80,88,94,95,95,95,...,82.0,81.0,73.0,67.0,68.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,MCV1,99,99,97,96,96,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,MCV1,50,42,45,51,56,59,...,48.0,56.0,55.0,44.0,44.0,35.0,26.0,NaN,NaN,NaN

In [3]:
MCV1 = pd.DataFrame(MCV1_df)
MCV1.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV1,64,64,64,63,60,57,...,22.0,34.0,31.0,14.0,14.0,14.0,9.0,8.0,NaN,11.0
1,Eastern Europe & Central Asia,ALB,Albania,MCV1,94,96,96,97,98,99,...,96.0,96.0,96.0,96.0,96.0,96.0,96.0,93.0,90.0,90.0
2,Middle East & North Africa,DZA,Algeria,MCV1,80,88,94,95,95,95,...,82.0,81.0,73.0,67.0,68.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,MCV1,99,99,97,96,96,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,MCV1,50,42,45,51,56,59,...,48.0,56.0,55.0,44.0,44.0,35.0,26.0,NaN,NaN,NaN

In [5]:
MCV1.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV1,64,64,64,63,60,57,...,22.0,34.0,31.0,14.0,14.0,14.0,9.0,8.0,0.0,11.0
1,Eastern Europe & Central Asia,ALB,Albania,MCV1,94,96,96,97,98,99,...,96.0,96.0,96.0,96.0,96.0,96.0,96.0,93.0,90.0,90.0
2,Middle East & North Africa,DZA,Algeria,MCV1,80,88,94,95,95,95,...,82.0,81.0,73.0,67.0,68.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,MCV1,99,99,97,96,96,95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,MCV1,50,42,45,51,56,59,...,48.0,56.0,55.0,44.0,44.0,35.0,26.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),MCV1,74,96,88,92,89,85,...,50.0,51.0,54.0,48.0,56.0,41.0,42.0,45.0,43.0,50.0
191,East Asia & Pacific,VNM,Viet Nam,MCV1,97,97,99,97,97,98,...,76.0,56.0,36.0,39.0,19.0,4.0,3.0,1.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,MCV1,64,65,70,67,67,70,...,48.0,34.0,22.0,15.0,13.0,8.0,6.0,4.0,4.0,2.0
193,Eastern & Southern Africa,ZMB,Zambia,MCV1,94,96,93,90,85,80,...,80.0,80.0,80.0,58.0,58.0,57.0,56.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,MCV1,88,90,95,86,92,93,...,87.0,88.0,88.0,83.0,78.0,62.0,60.0,58.0,56.0,0.0