In [1]:
import pandas as pd
import numpy as np

In [2]:
RCV1 = "14vaccine_data/2018_BCG.csv"
RCV1_df = pd.read_csv(RCV1)
RCV1_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,NaN,NaN,NaN
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0

In [3]:
RCV1 = pd.DataFrame(RCV1_df)
RCV1.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,NaN,NaN,NaN
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0

In [5]:
RCV1.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,0.0,0.0,0.0,0.0,0.0
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,0.0,0.0,0.0
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),BCG,92.0,94.0,97.0,99.0,97.0,95.0,...,88.0,76.0,63.0,86.0,89.0,92.0,82.0,76.0,77.0,72.0
166,East Asia & Pacific,VNM,Viet Nam,BCG,95.0,97.0,95.0,97.0,96.0,95.0,...,94.0,79.0,59.0,55.0,50.0,48.0,4.0,0.0,0.0,0.0
167,Middle East & North Africa,YEM,Yemen,BCG,64.0,66.0,73.0,47.0,73.0,71.0,...,75.0,52.0,30.0,23.0,20.0,16.0,15.0,13.0,12.0,9.0
168,Eastern & Southern Africa,ZMB,Zambia,BCG,91.0,99.0,99.0,97.0,99.0,95.0,...,97.0,97.0,97.0,95.0,92.0,71.0,68.0,70.0,72.0,0.0
169,Eastern & Southern Africa,ZWE,Zimbabwe,BCG,95.0,95.0,95.0,90.0,99.0,95.0,...,90.0,89.0,94.0,94.0,76.0,69.0,67.0,65.0,64.0,0.0