In [1]:
import pandas as pd
import numpy as np

In [9]:
YFV = "14vaccine_data/2018_YFV.csv"
YFV_df = pd.read_csv(YFV)
YFV_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,Eastern & Southern Africa,AGO,Angola,YFV,28.0,28.0,24.0,43.0,48.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Latin America & Caribbean,ARG,Argentina,YFV,7.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,West & Central Africa,BEN,Benin,YFV,71.0,70.0,64.0,63.0,63.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Latin America & Caribbean,BOL,Bolivia (Plurinational State of),YFV,84.0,82.0,89.0,88.0,73.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Latin America & Caribbean,BRA,Brazil,YFV,51.0,55.0,43.0,46.0,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
YFV = pd.DataFrame(YFV_df)
YFV.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,Eastern & Southern Africa,AGO,Angola,YFV,28.0,28.0,24.0,43.0,48.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Latin America & Caribbean,ARG,Argentina,YFV,7.0,6.0,6.0,5.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,West & Central Africa,BEN,Benin,YFV,71.0,70.0,64.0,63.0,63.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Latin America & Caribbean,BOL,Bolivia (Plurinational State of),YFV,84.0,82.0,89.0,88.0,73.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Latin America & Caribbean,BRA,Brazil,YFV,51.0,55.0,43.0,46.0,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
YFV.fillna(0).head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,Eastern & Southern Africa,AGO,Angola,YFV,28.0,28.0,24.0,43.0,48.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Latin America & Caribbean,ARG,Argentina,YFV,7.0,6.0,6.0,5.0,7.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,West & Central Africa,BEN,Benin,YFV,71.0,70.0,64.0,63.0,63.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Latin America & Caribbean,BOL,Bolivia (Plurinational State of),YFV,84.0,82.0,89.0,88.0,73.0,83.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Latin America & Caribbean,BRA,Brazil,YFV,51.0,55.0,43.0,46.0,47.0,45.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0