In [18]:
import pandas as pd
import numpy as np
import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

In [48]:
world_pop = "/Users/shilpa/Desktop/Desktop/RICE_DATA/Global_Vaccination_Progress/Shilpa/Plots/worldpop.csv"
world_pop_df = pd.read_csv(world_pop)

world_pop_df.head(5)

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,58386.0,...,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
1,Afghanistan,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,10399926.0,10637063.0,...,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
2,Angola,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,5774243.0,5771652.0,...,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
3,Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
4,Andorra,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,21890.0,...,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0

In [70]:
wuenic_merge = "clean_wuenic.csv"
wuenic_merge_df = pd.read_csv(wuenic_merge)

wuenic_merge_df.head(5)

,Unnamed: 0,Index,Country,Year,Vaccine,Subgroup,Coverage,Vaccinated,Target
0,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000
1,1,2018DTP1Afghanistan,Afghanistan,2018,DTP1,ROSA,73,836000,1146000
2,2,2018DTP3Afghanistan,Afghanistan,2018,DTP3,ROSA,66,756000,1146000
3,3,2018Hepb3Afghanistan,Afghanistan,2018,Hepb3,ROSA,66,756000,1146000
4,4,2018HepbbAfghanistan,Afghanistan,2018,Hepbb,ROSA,18,217000,1207000

,Unnamed: 0,Index,Country,Year,Vaccine,Subgroup,Coverage,Vaccinated,Target
0,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000
12,12,2017BCGAfghanistan,Afghanistan,2017,BCG,ROSA,78,938000,1202000
23,23,2016BCGAfghanistan,Afghanistan,2016,BCG,ROSA,78,934000,1197000
34,34,2015BCGAfghanistan,Afghanistan,2015,BCG,ROSA,76,906000,1192000
44,44,2014BCGAfghanistan,Afghanistan,2014,BCG,ROSA,74,879000,1188000
...,...,...,...,...,...,...,...,...,...
33376,35544,2001BCGZimbabwe,Zimbabwe,2001,BCG,ESAR,82,312000,380000
33382,35550,2000BCGZimbabwe,Zimbabwe,2000,BCG,ESAR,84,316000,376000
33388,35556,1999BCGZimbabwe,Zimbabwe,1999,BCG,ESAR,86,321000,373000
33394,35562,1998BCGZimbabwe,Zimbabwe,1998,BCG,ESAR,88,327000,372000
33400,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000

In [60]:
a = world_pop_df.drop(columns= ['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', 
                            '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980','1981', '1982',
                            '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
                            '1995', '1996'])
df_dropped = pd.DataFrame(a)
df_dropped

,Country Name,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,85451.0,87277.0,89005.0,90853.0,92898.0,94992.0,97017.0,98737.0,100031.0,...,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
1,Afghanistan,19357126.0,19737765.0,20170844.0,20779953.0,21606988.0,22600770.0,23680871.0,24726684.0,25654277.0,...,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
2,Angola,14871570.0,15359601.0,15866869.0,16395473.0,16945753.0,17519417.0,18121479.0,18758145.0,19433602.0,...,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
3,Albania,3148281.0,3128530.0,3108778.0,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
4,Andorra,64327.0,64142.0,64370.0,65390.0,67341.0,70049.0,73182.0,76244.0,78867.0,...,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,2086000.0,1966000.0,1762000.0,1700000.0,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,...,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0,1845300.0
260,"Yemen, Rep.",15975668.0,16450310.0,16921149.0,17409072.0,17918373.0,18443691.0,18985000.0,19540098.0,20107409.0,...,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,28498687.0
261,South Africa,42987461.0,43682260.0,44338543.0,44967708.0,45571274.0,46150913.0,46719196.0,47291610.0,47880601.0,...,50477011.0,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,57779622.0
262,Zambia,9597609.0,9866476.0,10140561.0,10415944.0,10692193.0,10971698.0,11256743.0,11550642.0,11856247.0,...,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,17351822.0
263,Zimbabwe,11653242.0,11747072.0,11822719.0,11881477.0,11923914.0,11954290.0,11982224.0,12019912.0,12076699.0,...,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,14439018.0

In [61]:
df2=pd.melt(df_dropped,id_vars=['Country Name'],var_name='Year', value_name='values')
df2

      Country Name  Year      values
0            Aruba  1997     85451.0
1      Afghanistan  1997  19357126.0
2           Angola  1997  14871570.0
3          Albania  1997   3148281.0
4          Andorra  1997     64327.0
...            ...   ...         ...
5803        Kosovo  2018   1845300.0
5804   Yemen, Rep.  2018  28498687.0
5805  South Africa  2018  57779622.0
5806        Zambia  2018  17351822.0
5807      Zimbabwe  2018  14439018.0

[5808 rows x 3 columns]

In [151]:
df_sorted= df2.sort_values(['Country Name','Year'], ascending= [True, True])
renamed_df_sorted = df_sorted.rename(columns={'Country Name': 'Country'})
renamed_df_sorted

          Country  Year      values
1     Afghanistan  1997  19357126.0
265   Afghanistan  1998  19737765.0
529   Afghanistan  1999  20170844.0
793   Afghanistan  2000  20779953.0
1057  Afghanistan  2001  21606988.0
...           ...   ...         ...
4751     Zimbabwe  2014  13586681.0
5015     Zimbabwe  2015  13814629.0
5279     Zimbabwe  2016  14030390.0
5543     Zimbabwe  2017  14236745.0
5807     Zimbabwe  2018  14439018.0

[5808 rows x 3 columns]

In [152]:
df_sorted_Afghanistan = renamed_df_sorted[renamed_df_sorted['Country'] == 'Afghanistan']
df_sorted_Afghanistan['values'].astype('object')
df_sorted_Afghanistan_object = pd.DataFrame(df_sorted_Afghanistan)
df_sorted_Afghanistan_object.head(5)

          Country  Year      values
1     Afghanistan  1997  19357126.0
265   Afghanistan  1998  19737765.0
529   Afghanistan  1999  20170844.0
793   Afghanistan  2000  20779953.0
1057  Afghanistan  2001  21606988.0

In [140]:
df_sorted_Afghanistan_object.types()

AttributeError: 'DataFrame' object has no attribute 'types'

In [124]:
BCG_only = wuenic_merge_df[wuenic_merge_df['Vaccine'] == 'BCG']
BCG_only.dropna()

,Unnamed: 0,Index,Country,Year,Vaccine,Subgroup,Coverage,Vaccinated,Target
0,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000
12,12,2017BCGAfghanistan,Afghanistan,2017,BCG,ROSA,78,938000,1202000
23,23,2016BCGAfghanistan,Afghanistan,2016,BCG,ROSA,78,934000,1197000
34,34,2015BCGAfghanistan,Afghanistan,2015,BCG,ROSA,76,906000,1192000
44,44,2014BCGAfghanistan,Afghanistan,2014,BCG,ROSA,74,879000,1188000
...,...,...,...,...,...,...,...,...,...
33376,35544,2001BCGZimbabwe,Zimbabwe,2001,BCG,ESAR,82,312000,380000
33382,35550,2000BCGZimbabwe,Zimbabwe,2000,BCG,ESAR,84,316000,376000
33388,35556,1999BCGZimbabwe,Zimbabwe,1999,BCG,ESAR,86,321000,373000
33394,35562,1998BCGZimbabwe,Zimbabwe,1998,BCG,ESAR,88,327000,372000
33400,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000

In [148]:
df_BCG = pd.merge(BCG_only, renamed_df_sorted, on='Country', how='inner')
df_BCG.drop(columns=['Year_y'])

,Unnamed: 0,Index,Country,Year_x,Vaccine,Subgroup,Coverage,Vaccinated,Target,values
0,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,37172386.0
1,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,36296400.0
2,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,35383128.0
3,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,34413603.0
4,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,33370794.0
...,...,...,...,...,...,...,...,...,...,...
62695,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000,11923914.0
62696,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000,11881477.0
62697,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000,11822719.0
62698,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000,11747072.0
62699,35568,1997BCGZimbabwe,Zimbabwe,1997,BCG,ESAR,92,341000,371000,11653242.0

In [150]:
df_BCG.to_csv('../Plots/df_BCG_All_countries.csv')

In [146]:

df_BCG_Afghanistan = pd.merge(BCG_only, df_sorted_Afghanistan, on='Country', how='inner')
df_BCG_Afghanistan.drop(columns=['Year_y'])

,Unnamed: 0,Index,Country,Year_x,Vaccine,Subgroup,Coverage,Vaccinated,Target,values
0,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,37172386.0
1,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,36296400.0
2,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,35383128.0
3,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,34413603.0
4,0,2018BCGAfghanistan,Afghanistan,2018,BCG,ROSA,78,941000,1207000,33370794.0
...,...,...,...,...,...,...,...,...,...,...
479,156,1997BCGAfghanistan,Afghanistan,1997,BCG,ROSA,43,399000,927000,21606988.0
480,156,1997BCGAfghanistan,Afghanistan,1997,BCG,ROSA,43,399000,927000,20779953.0
481,156,1997BCGAfghanistan,Afghanistan,1997,BCG,ROSA,43,399000,927000,20170844.0
482,156,1997BCGAfghanistan,Afghanistan,1997,BCG,ROSA,43,399000,927000,19737765.0
483,156,1997BCGAfghanistan,Afghanistan,1997,BCG,ROSA,43,399000,927000,19357126.0

In [147]:
df_BCG_Afghanistan.to_csv('../Plots/df_BCG_Afghanistan.csv')

In [ ]:
Combined = clean_df['Year'].astype(str)+ clean_df['Vaccine']+clean_df['Country']
clean_df.insert(0, 'Index', Combined, allow_duplicates = False)

clean_df

In [55]:
df1_transposed = df_dropped.T.stack()
b = pd.DataFrame(df1_transposed)
b

                            0
Country Name 0          Aruba
             1    Afghanistan
             2         Angola
             3        Albania
             4        Andorra
...                       ...
2018         259   1.8453e+06
             260  2.84987e+07
             261  5.77796e+07
             262  1.73518e+07
             263   1.4439e+07

[6304 rows x 1 columns]

In [24]:
world_pop_df.pivot(columns = ['Year'], values =['1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1972','1973','1974','1975',
                                                    '1976','1977','1978','1979','1980','1981','1982','1983','1984',
                                                    '1985','1986','1987','1988','1989','1990','1991','1992','1993',
                                                    '1994','1996','1997','1998','1999','2000','2001','2002','2003',
                                                    '2004','2005','2006','2007','2008','2009','2010','2011','2012',
                                                    '2013','2014','2015','2016','2017','2018']

SyntaxError: unexpected EOF while parsing (<ipython-input-24-c4897e689905>, line 7)

In [ ]:
pd.pivot_table(world_pop_df, values = 'Value', columns = 'Indicator').reset_index()

In [8]:
world_pop_df.pivot('Country Name',1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018')

SyntaxError: EOL while scanning string literal (<ipython-input-8-39f06677fbc1>, line 1)