In [9]:
import pandas as pd
import numpy as np
import cufflinks as cf
import plotly.offline
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)

In [10]:
world_pop = "/Users/shilpa/Desktop/Desktop/RICE_DATA/Global_Vaccination_Progress/csv/14vaccine_data/life_expectancy.csv"
world_pop_df = pd.read_csv(world_pop)
world_pop_df

    Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0    Aruba,ABW,"Population, total",SP.POP.TOTL,5421...
1    Afghanistan,AFG,"Population, total",SP.POP.TOT...
2    Angola,AGO,"Population, total",SP.POP.TOTL,545...
3    Albania,ALB,"Population, total",SP.POP.TOTL,16...
4    Andorra,AND,"Population, total",SP.POP.TOTL,13...
..                                                 ...
259  Kosovo,XKX,"Population, total",SP.POP.TOTL,947...
260  Yemen, Rep.,YEM,"Population, total",SP.POP.TOT...
261  South Africa,ZAF,"Population, total",SP.POP.TO...
262  Zambia,ZMB,"Population, total",SP.POP.TOTL,307...
263  Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3...

[264 rows x 1 columns]

In [11]:
world_pop_df.columns

Index(['Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018'], dtype='object')

In [12]:
world_pop_df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1)

KeyError: "['Country Code' 'Indicator Name' 'Indicator Code'] not found in axis"

In [8]:
world_pop_df.pivot('Country Name',1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018')

SyntaxError: EOL while scanning string literal (<ipython-input-8-39f06677fbc1>, line 1)