In [2]:
import pandas as pd
import numpy as np

In [3]:
BCG = "14vaccine_data/2018_BCG.csv"
BCG_df = pd.read_csv(BCG)
BCG_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,NaN,NaN,NaN
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0

In [4]:
BCG = pd.DataFrame(BCG_df)
BCG.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,NaN,NaN,NaN
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0

In [5]:
BCG.columns

Index(['unicef_region', 'iso3', 'country', 'vaccine', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007',
       '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989',
       '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980'],
      dtype='object')

In [6]:
BCG.fillna(0).head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,BCG,78.0,78.0,78.0,76.0,74.0,72.0,...,38.0,40.0,27.0,18.0,17.0,11.0,10.0,10.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,94.0,92.0,92.0,92.0,92.0,90.0,90.0,92.0,93.0,93.0
2,Middle East & North Africa,DZA,Algeria,BCG,99.0,99.0,99.0,99.0,99.0,99.0,...,96.0,96.0,93.0,88.0,86.0,0.0,0.0,0.0,0.0,0.0
3,Eastern & Southern Africa,AGO,Angola,BCG,86.0,83.0,49.0,69.0,72.0,71.0,...,47.0,32.0,29.0,32.0,28.0,28.0,25.0,0.0,0.0,0.0
4,Latin America & Caribbean,ARG,Argentina,BCG,93.0,95.0,92.0,96.0,99.0,99.0,...,92.0,91.0,94.0,99.0,90.0,78.0,70.0,77.0,70.0,62.0