In [1]:
import pandas as pd
import numpy as np

In [7]:
DTP3 = "14vaccine_data/2018_DTP3.csv"
DTP3_df = pd.read_csv(DTP3)
DTP3_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP3,66,66,66,65,62,64,...,33.0,35.0,25.0,11.0,15.0,16.0,5.0,5.0,3.0,4.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP3,99,99,98,99,98,99,...,94.0,96.0,96.0,96.0,96.0,95.0,95.0,95.0,94.0,94.0
2,Middle East & North Africa,DZA,Algeria,DTP3,91,91,91,95,95,95,...,87.0,85.0,79.0,73.0,69.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,DTP3,99,99,98,97,97,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,DTP3,59,52,55,55,55,54,...,18.0,12.0,10.0,10.0,8.0,8.0,6.0,NaN,NaN,NaN

In [8]:
DTP3 = pd.DataFrame(DTP3_df)
DTP3.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP3,66,66,66,65,62,64,...,33.0,35.0,25.0,11.0,15.0,16.0,5.0,5.0,3.0,4.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP3,99,99,98,99,98,99,...,94.0,96.0,96.0,96.0,96.0,95.0,95.0,95.0,94.0,94.0
2,Middle East & North Africa,DZA,Algeria,DTP3,91,91,91,95,95,95,...,87.0,85.0,79.0,73.0,69.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,DTP3,99,99,98,97,97,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,DTP3,59,52,55,55,55,54,...,18.0,12.0,10.0,10.0,8.0,8.0,6.0,NaN,NaN,NaN

In [6]:
DTP3.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP3,66,66,66,65,62,64,...,33.0,35.0,25.0,11.0,15.0,16.0,5.0,5.0,3.0,4.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP3,99,99,98,99,98,99,...,94.0,96.0,96.0,96.0,96.0,95.0,95.0,95.0,94.0,94.0
2,Middle East & North Africa,DZA,Algeria,DTP3,91,91,91,95,95,95,...,87.0,85.0,79.0,73.0,69.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,DTP3,99,99,98,97,97,96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,DTP3,59,52,55,55,55,54,...,18.0,12.0,10.0,10.0,8.0,8.0,6.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),DTP3,60,66,84,87,78,82,...,57.0,56.0,57.0,58.0,49.0,33.0,58.0,53.0,54.0,56.0
191,East Asia & Pacific,VNM,Viet Nam,DTP3,75,94,96,97,95,59,...,88.0,70.0,50.0,43.0,42.0,5.0,4.0,0.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,DTP3,65,68,71,69,73,73,...,56.0,36.0,18.0,13.0,12.0,7.0,5.0,4.0,3.0,1.0
193,Eastern & Southern Africa,ZMB,Zambia,DTP3,90,94,91,90,86,79,...,83.0,83.0,83.0,66.0,66.0,59.0,49.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,DTP3,89,89,90,87,91,95,...,87.0,85.0,84.0,75.0,63.0,60.0,53.0,46.0,39.0,0.0