In [2]:
import pandas as pd
import numpy as np

In [3]:
IPV1 = "14vaccine_data/2018_IPV1.csv"
IPV1_df = pd.read_csv(IPV1)
IPV1_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,IPV1,66.0,66.0,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,IPV1,99.0,99.0,98.0,99.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,IPV1,94.0,92.0,94.0,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,IPV1,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Latin America & Caribbean,ATG,Antigua and Barbuda,IPV1,99.0,95.0,86.0,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
IPV1 = pd.DataFrame(IPV1_df)
IPV1.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,IPV1,66.0,66.0,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,IPV1,99.0,99.0,98.0,99.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,IPV1,94.0,92.0,94.0,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Eastern & Southern Africa,AGO,Angola,IPV1,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Latin America & Caribbean,ATG,Antigua and Barbuda,IPV1,99.0,95.0,86.0,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
IPV1.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,IPV1,66.0,66.0,66.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,IPV1,99.0,99.0,98.0,99.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Middle East & North Africa,DZA,Algeria,IPV1,94.0,92.0,94.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Eastern & Southern Africa,AGO,Angola,IPV1,40.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Latin America & Caribbean,ATG,Antigua and Barbuda,IPV1,99.0,95.0,86.0,21.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),IPV1,32.0,70.0,68.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,East Asia & Pacific,VNM,Viet Nam,IPV1,19.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141,Middle East & North Africa,YEM,Yemen,IPV1,59.0,61.0,61.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142,Eastern & Southern Africa,ZMB,Zambia,IPV1,36.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,Eastern & Southern Africa,ZWE,Zimbabwe,IPV1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0