In [1]:
import pandas as pd
import numpy as np

In [2]:
wuenic = "../archive/2018_wuenic.csv"
wuenic_df = pd.read_csv(wuenic)
wuenic_df.head(5)

,Group,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target,Source
0,UNICEF Regions,ROSA,Afghanistan,2018,BCG,78,"941,000","1,207,000",WHO/UNICEF estimates of national immunization ...
1,UNICEF Regions,ROSA,Afghanistan,2018,DTP1,73,"836,000","1,146,000",WHO/UNICEF estimates of national immunization ...
2,UNICEF Regions,ROSA,Afghanistan,2018,DTP3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
3,UNICEF Regions,ROSA,Afghanistan,2018,Hepb3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
4,UNICEF Regions,ROSA,Afghanistan,2018,Hepbb,18,"217,000","1,207,000",WHO/UNICEF estimates of national immunization ...

In [3]:
wuenic_df['Vaccinated'].replace({'—': None},inplace =True)
wuenic_df['Target'].replace({'—': None},inplace =True)
wuenic_df

,Group,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target,Source
0,UNICEF Regions,ROSA,Afghanistan,2018,BCG,78,"941,000","1,207,000",WHO/UNICEF estimates of national immunization ...
1,UNICEF Regions,ROSA,Afghanistan,2018,DTP1,73,"836,000","1,146,000",WHO/UNICEF estimates of national immunization ...
2,UNICEF Regions,ROSA,Afghanistan,2018,DTP3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
3,UNICEF Regions,ROSA,Afghanistan,2018,Hepb3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
4,UNICEF Regions,ROSA,Afghanistan,2018,Hepbb,18,"217,000","1,207,000",WHO/UNICEF estimates of national immunization ...
...,...,...,...,...,...,...,...,...,...
35569,UNICEF Regions,ESAR,Zimbabwe,1997,DTP1,95,"328,000","345,000",WHO/UNICEF estimates of national immunization ...
35570,UNICEF Regions,ESAR,Zimbabwe,1997,DTP3,86,"297,000","345,000",WHO/UNICEF estimates of national immunization ...
35571,UNICEF Regions,ESAR,Zimbabwe,1997,Hepb3,16,"55,000","345,000",WHO/UNICEF estimates of national immunization ...
35572,UNICEF Regions,ESAR,Zimbabwe,1997,MCV1,84,"290,000","345,000",WHO/UNICEF estimates of national immunization ...
35573,UNICEF Regions,ESAR,Zimbabwe,1997,Pol3,86,"297,000","345,000",WHO/UNICEF estimates of national immunization ...

In [4]:
wuenic_df.loc[32948]

Group                                            UNICEF Regions
Subgroup                                                   EAPR
Name                                                     Tuvalu
Year                                                       2007
Vaccine                                                    RCV1
Coverage                                                     95
Vaccinated                                                 None
Target                                                     None
Source        WHO/UNICEF estimates of national immunization ...
Name: 32948, dtype: object

In [5]:
wuenic_df.dropna()

,Group,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target,Source
0,UNICEF Regions,ROSA,Afghanistan,2018,BCG,78,"941,000","1,207,000",WHO/UNICEF estimates of national immunization ...
1,UNICEF Regions,ROSA,Afghanistan,2018,DTP1,73,"836,000","1,146,000",WHO/UNICEF estimates of national immunization ...
2,UNICEF Regions,ROSA,Afghanistan,2018,DTP3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
3,UNICEF Regions,ROSA,Afghanistan,2018,Hepb3,66,"756,000","1,146,000",WHO/UNICEF estimates of national immunization ...
4,UNICEF Regions,ROSA,Afghanistan,2018,Hepbb,18,"217,000","1,207,000",WHO/UNICEF estimates of national immunization ...
...,...,...,...,...,...,...,...,...,...
35569,UNICEF Regions,ESAR,Zimbabwe,1997,DTP1,95,"328,000","345,000",WHO/UNICEF estimates of national immunization ...
35570,UNICEF Regions,ESAR,Zimbabwe,1997,DTP3,86,"297,000","345,000",WHO/UNICEF estimates of national immunization ...
35571,UNICEF Regions,ESAR,Zimbabwe,1997,Hepb3,16,"55,000","345,000",WHO/UNICEF estimates of national immunization ...
35572,UNICEF Regions,ESAR,Zimbabwe,1997,MCV1,84,"290,000","345,000",WHO/UNICEF estimates of national immunization ...
35573,UNICEF Regions,ESAR,Zimbabwe,1997,Pol3,86,"297,000","345,000",WHO/UNICEF estimates of national immunization ...

In [6]:
wuenic_df.drop(['Group', 'Source'], axis=1, inplace= True)
wuenic_df

      Subgroup         Name  Year Vaccine  Coverage Vaccinated     Target
0         ROSA  Afghanistan  2018     BCG        78    941,000  1,207,000
1         ROSA  Afghanistan  2018    DTP1        73    836,000  1,146,000
2         ROSA  Afghanistan  2018    DTP3        66    756,000  1,146,000
3         ROSA  Afghanistan  2018   Hepb3        66    756,000  1,146,000
4         ROSA  Afghanistan  2018   Hepbb        18    217,000  1,207,000
...        ...          ...   ...     ...       ...        ...        ...
35569     ESAR     Zimbabwe  1997    DTP1        95    328,000    345,000
35570     ESAR     Zimbabwe  1997    DTP3        86    297,000    345,000
35571     ESAR     Zimbabwe  1997   Hepb3        16     55,000    345,000
35572     ESAR     Zimbabwe  1997    MCV1        84    290,000    345,000
35573     ESAR     Zimbabwe  1997    Pol3        86    297,000    345,000

[35574 rows x 7 columns]

In [7]:
wuenic_df['Vaccinated'] = wuenic_df['Vaccinated'].replace(',', '', regex = True)\
                        .replace('<', '', regex = True).replace('>', '', regex = True).astype('object')
wuenic_df

      Subgroup         Name  Year Vaccine  Coverage Vaccinated     Target
0         ROSA  Afghanistan  2018     BCG        78     941000  1,207,000
1         ROSA  Afghanistan  2018    DTP1        73     836000  1,146,000
2         ROSA  Afghanistan  2018    DTP3        66     756000  1,146,000
3         ROSA  Afghanistan  2018   Hepb3        66     756000  1,146,000
4         ROSA  Afghanistan  2018   Hepbb        18     217000  1,207,000
...        ...          ...   ...     ...       ...        ...        ...
35569     ESAR     Zimbabwe  1997    DTP1        95     328000    345,000
35570     ESAR     Zimbabwe  1997    DTP3        86     297000    345,000
35571     ESAR     Zimbabwe  1997   Hepb3        16      55000    345,000
35572     ESAR     Zimbabwe  1997    MCV1        84     290000    345,000
35573     ESAR     Zimbabwe  1997    Pol3        86     297000    345,000

[35574 rows x 7 columns]

In [8]:
wuenic_df['Target'] = wuenic_df['Target'].replace(',', '', regex = True)\
                    .replace('<', '', regex = True).replace('>', '', regex = True).astype('object')
wuenic_df

      Subgroup         Name  Year Vaccine  Coverage Vaccinated   Target
0         ROSA  Afghanistan  2018     BCG        78     941000  1207000
1         ROSA  Afghanistan  2018    DTP1        73     836000  1146000
2         ROSA  Afghanistan  2018    DTP3        66     756000  1146000
3         ROSA  Afghanistan  2018   Hepb3        66     756000  1146000
4         ROSA  Afghanistan  2018   Hepbb        18     217000  1207000
...        ...          ...   ...     ...       ...        ...      ...
35569     ESAR     Zimbabwe  1997    DTP1        95     328000   345000
35570     ESAR     Zimbabwe  1997    DTP3        86     297000   345000
35571     ESAR     Zimbabwe  1997   Hepb3        16      55000   345000
35572     ESAR     Zimbabwe  1997    MCV1        84     290000   345000
35573     ESAR     Zimbabwe  1997    Pol3        86     297000   345000

[35574 rows x 7 columns]

In [9]:
#wuenic_df['Vaccinated'].apply(lambda x:x.replace(',', ''))

In [10]:
#wuenic_df['Target'].apply(lambda x:x.replace(',', ''))

In [11]:
#wuenic_df['Vaccinated']=wuenic_df['Vaccinated'].replace({',': ''})
#a = pd.DataFrame(wuenic_df.Vaccinated)
#a

In [12]:
#wuenic_df['Vaccinated'].value_counts()

In [13]:
clean_wuenic = pd.DataFrame(wuenic_df)
clean_wuenic.head(5)

  Subgroup         Name  Year Vaccine  Coverage Vaccinated   Target
0     ROSA  Afghanistan  2018     BCG        78     941000  1207000
1     ROSA  Afghanistan  2018    DTP1        73     836000  1146000
2     ROSA  Afghanistan  2018    DTP3        66     756000  1146000
3     ROSA  Afghanistan  2018   Hepb3        66     756000  1146000
4     ROSA  Afghanistan  2018   Hepbb        18     217000  1207000

In [14]:
Combined = clean_wuenic['Year'].astype(str)+ clean_wuenic['Vaccine']+clean_wuenic['Name']
clean_wuenic.insert(0, 'Label', Combined, allow_duplicates = True)
clean_wuenic

,Label,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target
0,2018BCGAfghanistan,ROSA,Afghanistan,2018,BCG,78,941000,1207000
1,2018DTP1Afghanistan,ROSA,Afghanistan,2018,DTP1,73,836000,1146000
2,2018DTP3Afghanistan,ROSA,Afghanistan,2018,DTP3,66,756000,1146000
3,2018Hepb3Afghanistan,ROSA,Afghanistan,2018,Hepb3,66,756000,1146000
4,2018HepbbAfghanistan,ROSA,Afghanistan,2018,Hepbb,18,217000,1207000
...,...,...,...,...,...,...,...,...
35569,1997DTP1Zimbabwe,ESAR,Zimbabwe,1997,DTP1,95,328000,345000
35570,1997DTP3Zimbabwe,ESAR,Zimbabwe,1997,DTP3,86,297000,345000
35571,1997Hepb3Zimbabwe,ESAR,Zimbabwe,1997,Hepb3,16,55000,345000
35572,1997MCV1Zimbabwe,ESAR,Zimbabwe,1997,MCV1,84,290000,345000
35573,1997Pol3Zimbabwe,ESAR,Zimbabwe,1997,Pol3,86,297000,345000

In [15]:
#clean_wuenic.replace('-', '0', inplace = True)
clean_wuenic.count()

Label         35574
Subgroup      35574
Name          35574
Year          35574
Vaccine       35574
Coverage      35574
Vaccinated    33406
Target        33406
dtype: int64

In [16]:
clean_wuenic.dropna(how='any')

,Label,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target
0,2018BCGAfghanistan,ROSA,Afghanistan,2018,BCG,78,941000,1207000
1,2018DTP1Afghanistan,ROSA,Afghanistan,2018,DTP1,73,836000,1146000
2,2018DTP3Afghanistan,ROSA,Afghanistan,2018,DTP3,66,756000,1146000
3,2018Hepb3Afghanistan,ROSA,Afghanistan,2018,Hepb3,66,756000,1146000
4,2018HepbbAfghanistan,ROSA,Afghanistan,2018,Hepbb,18,217000,1207000
...,...,...,...,...,...,...,...,...
35569,1997DTP1Zimbabwe,ESAR,Zimbabwe,1997,DTP1,95,328000,345000
35570,1997DTP3Zimbabwe,ESAR,Zimbabwe,1997,DTP3,86,297000,345000
35571,1997Hepb3Zimbabwe,ESAR,Zimbabwe,1997,Hepb3,16,55000,345000
35572,1997MCV1Zimbabwe,ESAR,Zimbabwe,1997,MCV1,84,290000,345000
35573,1997Pol3Zimbabwe,ESAR,Zimbabwe,1997,Pol3,86,297000,345000

In [17]:
clean_wuenic.dropna(how='all', axis = 0)

,Label,Subgroup,Name,Year,Vaccine,Coverage,Vaccinated,Target
0,2018BCGAfghanistan,ROSA,Afghanistan,2018,BCG,78,941000,1207000
1,2018DTP1Afghanistan,ROSA,Afghanistan,2018,DTP1,73,836000,1146000
2,2018DTP3Afghanistan,ROSA,Afghanistan,2018,DTP3,66,756000,1146000
3,2018Hepb3Afghanistan,ROSA,Afghanistan,2018,Hepb3,66,756000,1146000
4,2018HepbbAfghanistan,ROSA,Afghanistan,2018,Hepbb,18,217000,1207000
...,...,...,...,...,...,...,...,...
35569,1997DTP1Zimbabwe,ESAR,Zimbabwe,1997,DTP1,95,328000,345000
35570,1997DTP3Zimbabwe,ESAR,Zimbabwe,1997,DTP3,86,297000,345000
35571,1997Hepb3Zimbabwe,ESAR,Zimbabwe,1997,Hepb3,16,55000,345000
35572,1997MCV1Zimbabwe,ESAR,Zimbabwe,1997,MCV1,84,290000,345000
35573,1997Pol3Zimbabwe,ESAR,Zimbabwe,1997,Pol3,86,297000,345000

In [18]:
clean_wuenic.count()

Label         35574
Subgroup      35574
Name          35574
Year          35574
Vaccine       35574
Coverage      35574
Vaccinated    33406
Target        33406
dtype: int64

In [112]:
clean_wuenic.isnull().values.any()

True