In [1]:
import pandas as pd
import numpy as np

In [2]:
vax_name = []
vax_country = []
vax_year = []
vax_pct= []
vax_countryyear = []
vax_vaxcountryyear = []

vaccine_list = ["BCG","DTP1","DTP3","HEPB3","HEPBB","HIB","IPV1","MCV1","MCV2","PCV3","POL3","RCV1","ROTAC","YFV"]
# vaccine_list = ["BCG", "DTP1","DTP3", "HEPB3","HEPBB","HIB","IPV1","MCV1","MCV2","PCV3"]

for vax in vaccine_list:
    vax_csv = "../csv/14vaccine_data/2018_"+ vax+".csv"
    vax_data = pd.read_csv(vax_csv)
    vax_df = pd.DataFrame(vax_data)
    vax_df = vax_df.dropna(thresh= 9) 
    col_names = vax_data.columns
    for i in range(4, len(col_names)):
        for j in range(vax_df["country"].count()):
            vax_name.append(vax)
            vax_country.append(vax_df.iloc[j, 2])
            vax_year.append(col_names[i])
            vax_pct. append(vax_df.iloc[j,i])
            vax_countryyear.append(col_names[i]+vax_df.iloc[j,2])
            vax_vaxcountryyear.append(col_names[i]+vax+vax_df.iloc[j,2])

all_vax = pd.DataFrame(list(zip(vax_name, vax_country, vax_year, vax_countryyear, vax_vaxcountryyear, vax_pct)), columns = ["Vaccine_Name","Country","Year","Life_Key","Vaccine_Key","Coverage"])
all_vax.to_csv("../csv/clean_data/vaccine_stack.csv")
all_vax

,Vaccine_Name,Country,Year,Life_Key,Vaccine_Key,Coverage
0,BCG,Afghanistan,2018,2018Afghanistan,2018BCGAfghanistan,78.0
1,BCG,Albania,2018,2018Albania,2018BCGAlbania,99.0
2,BCG,Algeria,2018,2018Algeria,2018BCGAlgeria,99.0
3,BCG,Angola,2018,2018Angola,2018BCGAngola,86.0
4,BCG,Argentina,2018,2018Argentina,2018BCGArgentina,93.0
...,...,...,...,...,...,...
74017,YFV,Sierra Leone,1980,1980Sierra Leone,1980YFVSierra Leone,NaN
74018,YFV,Suriname,1980,1980Suriname,1980YFVSuriname,NaN
74019,YFV,Togo,1980,1980Togo,1980YFVTogo,NaN
74020,YFV,Trinidad and Tobago,1980,1980Trinidad and Tobago,1980YFVTrinidad and Tobago,NaN
74021,YFV,Venezuela (Bolivarian Republic of),1980,1980Venezuela (Bolivarian Republic of),1980YFVVenezuela (Bolivarian Republic of),NaN

In [3]:
life_csv = "../csv/clean_data/life_inf_stack.csv"
life_data = pd.read_csv(life_csv)
life_df = pd.DataFrame(life_data)
life_df
check = pd.merge(life_df, all_vax, on = "Life_Key", how = "inner")
check.head()

,Unnamed: 0,Country_x,Year_x,Life_Key,Life_Expectancy,Infant_Mortality,Vaccine_Name,Country_y,Year_y,Vaccine_Key,Coverage
0,0,Afghanistan,1980,1980Afghanistan,43.244,162.7,BCG,Afghanistan,1980,1980BCGAfghanistan,NaN
1,0,Afghanistan,1980,1980Afghanistan,43.244,162.7,DTP1,Afghanistan,1980,1980DTP1Afghanistan,22.0
2,0,Afghanistan,1980,1980Afghanistan,43.244,162.7,DTP3,Afghanistan,1980,1980DTP3Afghanistan,4.0
3,0,Afghanistan,1980,1980Afghanistan,43.244,162.7,HEPB3,Afghanistan,1980,1980HEPB3Afghanistan,NaN
4,0,Afghanistan,1980,1980Afghanistan,43.244,162.7,HEPBB,Afghanistan,1980,1980HEPBBAfghanistan,NaN

In [4]:
# print(check.count())
# print(life_df.count())
# print(all_vax.count())
keep_country = check["Country_x"].unique()

In [5]:
life_temp = life_df[life_df.Country.isin(keep_country)]
life_temp= life_temp[["Country","Year","Life_Key","Life_Expectancy","Infant_Mortality"]]
vax_temp = all_vax[all_vax.Country.isin(keep_country)]
check_temp = pd.merge(life_temp, vax_temp, on = "Life_Key", how = "inner")

In [ ]:
check_temp.count()

In [10]:
life_reorg.to_csv("../csv/clean_data/life_stack_reduced.csv")
vax_reorg.to_csv("../csv/clean_data/vaccine_stack_reduced.csv")

In [6]:
life_reorg = life_temp[["Life_Key","Country","Year","Life_Expectancy","Infant_Mortality"]]
life_reorg = life_reorg.rename(columns = {"Life_Key":"Index"})
life_reorg

,Index,Country,Year,Life_Expectancy,Infant_Mortality
0,1980Afghanistan,Afghanistan,1980,43.244,162.7
1,1980Angola,Angola,1980,44.178,140.7
2,1980Albania,Albania,1980,70.208,65.6
4,1980United Arab Emirates,United Arab Emirates,1980,68.213,29.1
5,1980Argentina,Argentina,1980,69.496,37.0
...,...,...,...,...,...
8811,2017Samoa,Samoa,2017,73.046,14.0
8812,2017Yemen,Yemen,2017,66.086,42.9
8813,2017South Africa,South Africa,2017,63.538,29.6
8814,2017Zambia,Zambia,2017,63.043,41.5
8815,2017Zimbabwe,Zimbabwe,2017,60.812,35.4

In [7]:
vax_reorg = vax_temp[["Vaccine_Key","Country","Year","Vaccine_Name","Coverage","Life_Key"]]
vax_reorg = vax_reorg.rename(columns = {"Life_Key":"Life_Index", "Vaccine_Key":"Index","Vaccine_Name":"Vaccine"})
vax_reorg.reset_index(drop = True, inplace = True)
vax_reorg

,Index,Country,Year,Vaccine,Coverage,Life_Index
0,2018BCGAfghanistan,Afghanistan,2018,BCG,78.0,2018Afghanistan
1,2018BCGAlbania,Albania,2018,BCG,99.0,2018Albania
2,2018BCGAlgeria,Algeria,2018,BCG,99.0,2018Algeria
3,2018BCGAngola,Angola,2018,BCG,86.0,2018Angola
4,2018BCGArgentina,Argentina,2018,BCG,93.0,2018Argentina
...,...,...,...,...,...,...
70117,1980YFVSierra Leone,Sierra Leone,1980,YFV,NaN,1980Sierra Leone
70118,1980YFVSuriname,Suriname,1980,YFV,NaN,1980Suriname
70119,1980YFVTogo,Togo,1980,YFV,NaN,1980Togo
70120,1980YFVTrinidad and Tobago,Trinidad and Tobago,1980,YFV,NaN,1980Trinidad and Tobago
70121,1980YFVVenezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),1980,YFV,NaN,1980Venezuela (Bolivarian Republic of)

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgres://trszpzmvozxxfa:4837915234eabffbb990eda4721662850ebcf9e07fc119c3fe994db385f04f6f@ec2-54-83-33-14.compute-1.amazonaws.com:5432/dcnno5op1g262')

In [9]:
vax_reorg.to_sql('wuenic', engine, index = False, if_exists = "replace")

KeyboardInterrupt:

In [ ]:

life_reorg.to_sql('infexpmort',engine, index = False, if_exists = "replace")

In [ ]:

infexpmort--life_reorg


wuenic--vax_reorg