In [1]:
import pandas as pd
import numpy as np

In [3]:
HEPB3 = "14vaccine_data/2018_HEPB3.csv"
HEPB3_df = pd.read_csv(HEPB3)
HEPB3_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HEPB3,66.0,66.0,66.0,65.0,62.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,HEPB3,99.0,99.0,98.0,99.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,HEPB3,91.0,91.0,91.0,95.0,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,HEPB3,98.0,98.0,94.0,94.0,95.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,HEPB3,59.0,52.0,55.0,55.0,55.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
HEPB3 = pd.DataFrame(HEPB3_df)
HEPB3.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HEPB3,66.0,66.0,66.0,65.0,62.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,HEPB3,99.0,99.0,98.0,99.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,HEPB3,91.0,91.0,91.0,95.0,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,HEPB3,98.0,98.0,94.0,94.0,95.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,HEPB3,59.0,52.0,55.0,55.0,55.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
HEPB3.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HEPB3,66.0,66.0,66.0,65.0,62.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,HEPB3,99.0,99.0,98.0,99.0,98.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Middle East & North Africa,DZA,Algeria,HEPB3,91.0,91.0,91.0,95.0,95.0,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,HEPB3,98.0,98.0,94.0,94.0,95.0,94.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,HEPB3,59.0,52.0,55.0,55.0,55.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),HEPB3,60.0,66.0,84.0,87.0,78.0,82.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,East Asia & Pacific,VNM,Viet Nam,HEPB3,75.0,94.0,96.0,97.0,95.0,59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,HEPB3,65.0,68.0,71.0,69.0,73.0,73.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193,Eastern & Southern Africa,ZMB,Zambia,HEPB3,90.0,94.0,91.0,90.0,86.0,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,HEPB3,89.0,89.0,90.0,87.0,91.0,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0